@media screen and (min-width: 1400px) {
    .about__desc {
        max-width: 86%;
    }

    .activities__decor-bg {
        display: none;
    }

    .special__inner {
        max-width: 86%;
    }

    .special-item {
        gap: 24px;
    }

    .info__inner {
        max-width: 86%;
    }

    .info-item {
        width: auto !important;
        height: auto !important;
    }

    .footer__inner {
        width: 86%;
    }
}

@media screen and (min-width: 1200px) {
}

/* PC */
@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 9911.98px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }
}
